<h1 class="title">Book a video link</h1>
<br>
{{#.}}
  <table class="summary-list">
    <tr><td>Prisoner number</td><td>{{ optionalString prisonerNumber }}</td></tr>
    <tr><td>Date from</td><td>{{ optionalValue (formatDate fromDate) }}</td></tr>
    <tr><td>Date to</td><td>{{ optionalValue (formatDate toDate) }}</td></tr>
  </table>

  <br>
  <h2>Video link bookings</h2>
  {{#videoLinkBookings}}
    <br>
    <h3>Video link booking</h3>
    <table class="summary-list">
        <tr><td>Prison name</td><td>{{ getPrisonName prisonCode }}</td></tr>
        <tr><td>Prisoner number</td><td>{{ optionalString prisonerNumber }}</td></tr>
        <tr><td>Created date</td><td>{{ formatDate createdTime }}</td></tr>
        <tr><td>Booking type</td><td>{{ optionalValue appointmentType }}</td></tr>
        <tr><td>Appointment date</td><td>{{ formatDate appointmentDate }}</td></tr>
        <tr><td>Hearing type</td><td>{{ optionalString hearingType }}</td></tr>
        <tr><td>Probation meeting type</td><td>{{ optionalString probationMeetingType }}</td></tr>
        <tr><td>Start time</td><td>{{ formatDate startTime }}</td></tr>
        <tr><td>End time</td><td>{{ formatDate endTime }}</td></tr>
        <tr><td>Staff notes</td><td>{{ optionalString staffNotes }}</td></tr>
        <tr><td>Prisoner notes</td><td>{{ optionalString prisonerNotes }}</td></tr>
        <tr><td>Location</td><td>{{ getLocationNameByDpsId prisonLocationId }}</td></tr>
    </table>
  {{/videoLinkBookings}}
  {{^videoLinkBookings}}
     <p>No data held</p>
  {{/videoLinkBookings}}
{{/.}}
